body {
	font-family: sans-serif;
	margin: 0; padding: 0;
}
.logo {
	width: 100%;
}
.sidebar {
	box-sizing: border-box;
	background-color: #025;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 12rem;
	color: white;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
}
.sidebar > * {
	flex-grow: 1;
	padding: 1.5rem;
}
.sidebar > *:hover {
	background-color: #026;
}
.sidebar > .nav-selected {
	background-color: white;
	color: black;
}
.sidebar > .nav-selected img {
	filter: invert(1);
}
.content {
	box-sizing: border-box;
	margin: 0 0 0 12rem;
	padding: 1.5rem;
}
.front-page h2 {
	margin-top: 0;
}
.front-page img {
	max-height: 18rem;
}
