body {
	font-family: sans-serif;
	margin: 0; padding: 0;
	background-color:hsl(212,14%,34%);
    color:white;
}
.logo {
	width: 100%;
}
.sidebar {
	box-sizing: border-box;
	background-color: hsl(210,39%,17%);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 12rem;
	color: white;
	display: flex;
	flex-direction: column;
    text-align: center;
    border-right: white 1px solid;
    padding: 50px 0px 20px 0px;
    user-select: none;
    -webkit-user-select: none;
	z-index: 9001;
	/* justify-content: space-around; */
}
.sidebar > * {
	padding: .5em;
	text-align:center;
	cursor: pointer;
	text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.sidebar > * > * {
	padding: .5em;
}
.sidebar > * > img {
	filter: invert(1);
	width: 30px;
	vertical-align: middle;
}
.nav-tab, .about:hover {
	cursor: pointer;
}
.nav-tab:hover, .about:hover {
	background-color: hsl(212,14%,34%);
}
a.nav-link:link, a.nav-link:visited {
	color: #def;
}
a.nav-link:hover {
	color: #eef;
}
.sidebar > .nav-selected {
	background-color: hsl(210,24%,25%);
}
.sidebar > .nav-selected img {
}
.sidebar .grow {
	flex-grow: 1;
}
.content {
	box-sizing: border-box;
	margin: 0 0 0 12rem;
	padding: 1.5rem;
}
.content h2 {
	margin-top: 0;
	color:white;
}
.content h4{
	color: white;
}
#maintitle{
    text-align: center;
}
.filter-label {
	margin-right: .5em;
}

.main-home img, .search-results img, .fs-viewer img {
	max-height: 18rem;
}

.home-block {
	display: flex;
	flex-direction: flex-row;
	align-items: center;
	font-size: 150%;
	text-decoration: none;
	position: relative;
	margin: 0 0 0.5em;
	background-color: hsl(210,39%,17%);
	border-radius: 1em;
}
.home-block:hover {
	background-color: hsl(212,20%,24%);
}
.home-block strong {
	display: block;
	white-space: pre;
	font-size: 250%;
	margin: 0 0.35em;
}
.home-block span {
	flex-grow: 1;
}
.home-block img {
	height: 120px;
}

.popular{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 10px;
  	grid-auto-rows: minmax(100px, auto);
  	background-color: hsl(212,4%,43%);
  	padding: 20px;
  	border-radius: 1em;
}
.popular > img {
	width: 90%;
}
.homehelp{
  	background-color: hsl(212,4%,43%);
  	padding: 10px;
  	border-radius: 1em;
}
.main-search, .main-folders, .main-layout {
	display: none;
}

.fs-viewer {
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto)
}
.folder-full-msg {
	grid-column: 1 / span 100;
}
.btn {
	display: inline-block;
	font-size: 100%;
	border-width: 0;
	border-radius: .5em;
	padding: 0.5em;
	margin: 0.5em 0.5em 0.5em 0;
	background-color: #025;
	cursor: pointer;
	color: white;
	user-select: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-overflow: fade;
}
.btn.drop-target {
	border: dashed 1px gray;
	background-color: #036;
}
.btn:hover, .btn.drop-target-hover {
	background-color: #057;
}
.btn.btn-path {
	margin: 0.2em;
	padding: 0.2em;
	border-radius: 0.2em;
	line-height: 1.2em;
}
.path-working-folder {
	font-size: 100%;
	display: inline-block;
	margin: 0.2em;
	padding: 0.2em;
	border-radius: 0.2em;
	line-height: 1.2em;
	font-weight: bold;
}
.dialog {
	color: black;
	border: 1px solid gray;
	border-radius: 1em;
	background-color:lightgray;
}
input.search-query {
	font-size: 125%;
}
input.folder-name {
	font-size: 125%;
}
.folder { 
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.folder img {
	width: 4em;
	display: inline-block;
	margin: 0 auto;
	filter: invert(.9);
}
.dialog .folder img {
	filter: none;
}
.image-focus {
	background-color: black;
}
.layout-area img {
	width: 100%;
	height: 100%;
}
.close {
	display: none;
	position: absolute;
	top: 12px;
	left: 12px;
	margin: 0;
	font-size: 75%;
	background-color: #c00;
	border: 1px solid #e00;
}
.close:hover {
	background-color: #f00;
	border: 1px solid #f22;
}
.folder:hover .close, .folder-image:hover .close, .layout-image.layout-area-selected .close, .layout-image:hover .close {
	display: block;
}
#layout-help{
	font-size: 1ex;
}
.ui-resizable-handle {
	display: none;
	border: 1px solid #036;
	background-color: #9cf;
}
.ui-resizable-se {
	width: 9px;
	height: 9px;
	right: -5px;
	bottom: -5px;
}
.layout-area-selected .ui-resizable-handle {
	display: block;
}

.filter-bar {
	display: grid;
	grid-template-columns: auto repeat(3, 12em);
	height: 2em;
	grid-template-rows: 2em auto;
	grid-gap: .5em;
	flex-direction: row;
}
.filter-bar .search-query {
	flex-grow: 1;
}
.filter-bar .btn {
	margin: 0;
	min-width: 8em;
}
.filter-bar > div {
	z-index: 1;
}

#color-select-outer {
	/* a hilarious hack */
	grid-column: 2;
}

#new-folder-form {
	margin-bottom: 0.5em;
}

#new-folder-form-inputs {
	display: flex;
}

#new-folder-button {
	margin: 0;
	margin-left: 0.5em;
}

#folder-name {
	flex-grow: 1;
}

@media only screen and (max-width: 1120px) {
	.filter-bar {
		display: grid;
		grid-gap: 0.5em;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 2em 2em auto;
		height: 5em;
	}
	#color-select-outer {
		grid-column: 1;
	}
	.filter-bar .search-query {
		grid-column: 1 / span 3;
	}
	.filter-bar > div {
		margin-left: 0;
	}
	.sidebar {
		right: 0;
		bottom: initial;
		width: initial;
		height: 4rem;
		flex-direction: row;
		padding: 0;
		border-right: none;
		border-bottom: 1px white solid;
	}
	.content {
		margin: 0;
		margin-top: 4rem;
	}
}

.filter-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 1px black;
	background-color: silver;
	padding: .5em;
	border-radius: .5em;
}

.folder {
	cursor: pointer;
}

.folder.drop-target {
	border: dashed 1px gray;
}
.folder:hover, .folder.drop-target-hover {
	background-color: rgba(255, 255, 255, .15);
}

.color-select {
	display: inline-grid;
	grid-template-rows: 2em 2em 2em 2em;
	grid-template-columns: 2em 2em 2em;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.color-select button.any-color {
	grid-column: 1 / span 3;
	background-image: linear-gradient(
	to right,
	hsl(  0, 80%, 90%) 0%,
	hsl( 36, 80%, 90%) 10%,
	hsl( 72, 80%, 90%) 20%,
	hsl(108, 80%, 90%) 30%,
	hsl(144, 80%, 90%) 40%,
	hsl(180, 80%, 90%) 50%,
	hsl(216, 80%, 90%) 60%,
	hsl(252, 80%, 90%) 70%,
	hsl(288, 80%, 90%) 80%,
	hsl(324, 80%, 90%) 90%
	);
}
.color-select button {
	border: none;
	border-left: 1px solid black;
	border-top: 1px solid black;
	filter: brightness(95%);
}
.color-select button:hover {
	filter: brightness(110%);
}
.color-select .color-check {
	display: none;
	font-size: 120%;
}
.color-select .color-selected .color-check {
	display: inline;
}
.view-select, .license-select {
	display: inline-flex;
	flex-direction: column;
}
.license-activate {
	display: inline-block;
}
.attention {
	animation: 0.5s attention;
}
@keyframes attention {
	from {
		background-color: red;
	}
	to {
		background-color: transparent;
	}
}
#filterlist{
	display: flex;
	direction: row;
}

.search-results {
	margin-top: .5em;
	display: grid;
	grid-gap: .5em;
	grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
	grid-template-rows: auto;
	align-items: center;
}

.filter-results {
	height: 0;
	z-index: 1;
}

.filter-results > * {
	background-color: gray;
	padding: 0.5em;
	border-radius: 5px;
}

.search-results img {
	width: 100%;
	max-height: 12em;
	object-fit: contain;
	cursor: pointer;
}

.search-results img:hover {
	filter: brightness(115%);
}

.fs-viewer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  	grid-gap: .5em;
  	grid-auto-rows: repeat(auto-fill, 7em);
}

.folder-image {
	position: relative;
}
.folder-image.dragging {
	opacity: 0.8;
}
.folder {
	width: 7em;
	height: 7em;
}
.folder-image img {
	width: 7em;
	height: 7em;
	object-fit: contain;
}

#search-dialog {
	padding: 1em;
	margin-bottom: 0.5em;
}
.dialog-padded {
	padding: 1em;
}

#triangle {
	text-align: right;
}

.layout-area {
	position: relative;
}
.layout-image {
	position: absolute;
}

.layout-area img {
	border: 1px solid black;
}

.fs-viewer.dialog { display: none; }

.modal-outer { display: none; }
.modal-bg {
	z-index: 31337;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 80%);
	padding: 5em;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.modal-bg.modal-vertical {
	flex-direction: column;
	align-items: center;
	justify-items: center;
}
.modal-bg img {
	object-fit: contain;
}
.modal-bg > img {
	width: 50%;
	max-height: 100%;
}
.modal-bg .modal-side {
	width: 50%;
	text-align: center;
}
.modal-bg.modal-vertical .modal-top-side {
	height: 30%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	margin-bottom: 0.8em;
}
.modal-bg.modal-vertical .fs-viewer {
	flex-grow: 1;
}
.modal-bg.modal-vertical .modal-top-side img {
	height: 100%;
}
.modal-bg .modal-side .filename {
	font-size: 300%;
	margin-bottom: 0.2em;
}
.modal-bg .modal-top-side .layout-label {
	margin-right: 0.6em;
}
.modal-bg .modal-top-side .filename-wrap {
	font-size: 150%;
	margin-left: 0.2em;
}
.modal-bg .fs-viewer {
	width: 100%;
}

.buttons-and-dialog {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 0;
}

.dialog-container {
	z-index: 1336;
}

@media only screen and (max-width: 1120px) {
	.modal-bg {
		flex-direction: column;
		justify-content: center;
		padding: .5em;
	}
	.modal-bg .modal-side {
		width: 100%;
	}
	.modal-bg > img {
		width: 100%;
		max-height: 75%;
	}
}

.offscreen {
	position: absolute;
	left: -31337px; /* haxx */
}
